<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Django - D'Imperio Sebastian</title>
</head>
<body>
    <h1 style="text-align: center;color:crimson">Mi Familia</h1>    
    <p>
        {% for objeto in familia %}
        <h2 style="color: blue">Familiar n° {{objeto.id}}</h2>
            <h3>
                <p>-Apellido y Nombre: {{objeto.apellido}}, {{objeto.nombre}}</p>
                <p>-Edad: {{objeto.edad}} años</p>
                <p>-Parentesco: {{objeto.parentesco}}</p>
                <p>-Fecha de Nacimiento: {{objeto.fecha_nacimiento}}</p>
            </h3>


        {% endfor %}




    </p>


</body>
</html>